*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;  

}

h2 {
color:black;
padding:20px;
}

.box {
display:flex;
margin: 0 auto;
padding:20px;
background-color: #fff;
justify-content: center; 
flex-direction: column;
color:black;  
height: 320px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.btn {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}




