/* movieMingle.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.mingleContainer {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh; /* Use the full height of the viewport */
  background-color: #187a8e;
  color: white;
}

.page-content {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
}

.trashCan {
  padding: 0;
  background-color: white;
  color: darkred;
  padding-top: 5px;
}

.create-mingle-btn {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.mingle-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.mingle-card {
  border: 2px solid purple;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 400px;
}

.cardTitle {
  color: purple;
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 4px;
}

.mingle-card h3 {
  color: #333;
}

.mingle-card p {
  color: #555;
}

.mingle-details-container {
  display:flex;
}

.sider-container {
  width: 200px;
}

.content-container {
  flex: 1;
  margin-left:20px;
}
