/* movieMingle.css */

body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

.mingleContainer {
  display: flex;
}

.sidebar {
  width: 200px;
  height: 100vh; /* Use the full height of the viewport */
  background-color: #187a8e;
  color: white;
}

.page-content {
  flex: 1;
  max-width: 800px;
  margin: 0 auto;
}

.trashCan {
  padding: 0;
  background-color: white;
  color: darkred;
  padding-top: 5px;
}

.create-mingle-btn {
  background-color: purple;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.mingle-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.mingle-card {
  border: 2px solid purple;
  padding: 16px;
  margin: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 400px;
}

.cardTitle {
  color: purple;
}

.card-image {
  width: 100%;
  height: auto;
  max-height: 250px;
  border-radius: 4px;
}

.mingle-card h3 {
  color: #333;
}

.mingle-card p {
  color: #555;
}

.mingle-details-container {
  display:flex;
}

.sider-container {
  width: 200px;
}

.custom-countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #187a8e; /* Choose your background color */
  color: black; /* Choose your text color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; 
  height: 350px;/* Set your desired width */
}

.countdown-section {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 10px;
}
.countdown-clock-img {
  width: 100px;
  height: 115px;
}

.countdown-item {
  text-align: center;
  padding: 10px;
}

.countdown-item span {
  font-size: 2em;
  font-weight: bold;
  display: block;
}

.countdown-item p {
  margin: 0;
  color:black;
  font-size: 0.8em;
}

/* Divider line between sections */
.divider {
  height: 2px;
  width: 100%;
  background-color: black; /* Choose your divider color */
  margin: 10px 0;
}

/* New CSS for movie details */
.movie-container {
  padding: 10px;
  padding-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-left:30px;
}

.movie-details {/* Take full width by default */
  padding: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
}

.detail h2 {
  text-decoration: underline;
  margin-right: 15px;
}

.detail {
  display: flex;
  flex-direction: row;
  padding-top: 15px ;
}

@media screen and (min-width: 600px) {
  .movie-details {
    flex: 0 0 calc(50% - 20px); /* Display movie details in a box when the screen is big enough */
    margin-left: 20px;
  }
}

.details-container2 {
  display: flex;
  display: inline;
  justify-content: center;
  height: auto;
}